@page "/guess-game"

@using Gulbee.Frontend.Clients
@using Gulbee.Frontend.Models
@inject ProductClient ProductClient

<PageTitle>Gulbee!</PageTitle>

@if(product is null){
    <p>Loading...</p>
}
else{

    <div class="container d-flex flex-column h-100 justify-content-start" >
        <div class="row m-3">
            <div class="column">
                <div class="d-flex justify-content-center">
                    <span class="text-center display-5 p-3 px-4 fw-semibold rounded-pill shadow-lg"
                        style="background-color: #5e0fdc; color: #f6e0f5;">
                        Guess that product!
                    </span>
                </div>
            </div>
        </div>

        <div class="row m-3">
            <div class="column">
                <div class="d-flex justify-content-center ">
                    <div class="card my-3 w-25  ">
                        <div class="card-header gulbee-colors text-white">
                            <h4 class="card-title mb-0">Name: ???</h4>
                            <h5 class="card-subtitle mb-0 text-body-tertiary">Category: @product.Category</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">Kcal: @product.Kcal</li>
                            <li class="list-group-item">Fat: @product.Fat</li>
                            <li class="list-group-item">Carbo: @product.Carbo</li>
                            <li class="list-group-item">Sugar: @product.Sugar</li>
                            <li class="list-group-item">Proteins: @product.Proteins</li>
                            <li class="list-group-item">Salt: @product.Salt</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="column">
                Tu wpisz
            </div>
        </div>
        <div class="row m-3">
            <div class="column">
                Tu nacisnij
            </div>
        </div>
    </div>    
}

@code{
    private Product? product;
    protected async override Task OnInitializedAsync(){
        product = await ProductClient.GetProductAsync(2);
    }
}
